@model ParqueSeguro.Core.InputModels.MarcarEntradaInputModel

@{
    ViewData["Title"] = "MarcarSaida";
}

<h1>Marcar Entrada de Veículos</h1>

<hr />

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="row">
    <div class="col-md">
        <form asp-action="MarcarSaidaVeiculoPlaca">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="card">
                <div class="card-header">
                    <div class="card-body row">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="Placa" class="control-label"></label>
                                <input asp-for="Placa" class="form-control" />
                                <span asp-validation-for="Placa" class="text-danger"></span>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="btn-group" role="group">
                <div class="col-md">
                    <div class="form-group" style="margin-top: 1rem">
                        <input type="submit" style="width: 150%" value="Marcar" class="btn btn-danger" />
                    </div>

                </div>
                <div class="col-md">
                    <div class="form-group" style="margin-top: 1rem">
                        <a class="btn btn-outline-primary" style="margin-left: 80%; width: 150%" asp-action="Index">Voltar</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
